body {
    background-color: rgb(238, 235, 240);
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

nav{
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px rgb(172, 171, 171);
    height: 120px;
    box-shadow: 0px 2px 2px rgb(92, 91, 91);
    width: 100%;
    
}
.nav-center{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
}

h2 {
    font-size: 3rem;
    margin-left: 20px;
    padding: 0;
    color: rgb(71, 51, 85);
}

.menu {
    height: auto;
    display: flex;
    margin: auto;
}

.menu-items {
    display: inline-flex;
    margin: 20px;
    padding: 10px;
    font-size: x-large;
}

.menu-items:hover {
    background-color: rgb(238, 235, 240);
    width: fit-content;
    border-radius: 10px;
    padding: 10px 10px;
    box-shadow: 0px 4px 4px rgb(72, 72, 72);
}

a {
    text-decoration: none;
    color: rgb(71, 51, 85);
}

.menu-items:active {
    background-color: rgb(193, 192, 192);
    transform: translateY(2px);
    box-shadow: 0px 2px 2px rgb(72, 72, 72);
}

.social-icons {
    list-style-type: none;
    margin-right: 20px;
}

.social-items {
    display: inline;
    padding: 10px;
    font-size: xx-large;
}

.nav-toggle {
    display: none;
}


@media screen and (max-width: 1220px) {
    .nav-center{
        margin: 0 auto;
        display: inline;
        height: 120px;
    }

    .nav-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 120px;
    }

    .nav-toggle {
        display: inline;
        background: none;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
    }

    .nav-toggle:hover {
        background-color: rgb(193, 192, 192);
        border-radius: 3px;
    }

    .nav-toggle:active {
        background-color: rgb(157, 155, 155);
        transform: scale(1.1);
    }

    .social-icons {
        display: none;
    }

    .menu {
        width: 100%;
        padding: 0px;
        display: block;
    }

    .menu-items {
        display: flex;
        font-size: x-large;
        background-color: rgb(255, 255, 255);
        width: 100%;
        margin: 0;
        padding: 20px;
        text-indent: 15px;
        border-bottom: 1px groove rgba(131, 131, 131, 0.438);
    }

    .menu-items:hover {
        background-color: rgb(238, 235, 240);
        box-shadow: none;
        border-radius: 0px;
        margin: 0;
        padding: 20px;
        text-indent: 30px;
        width: 100%;
    }
}